h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.canvas-container {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.row {
    width: 100%;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    position: relative;
}

textarea {
    width: 95%;
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Prevent resizing */
    box-sizing: border-box;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.problem,
.value-proposition,
.customer-segment {
    background-color: #F7E1E1;
}